body{
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	background: transparent;
	transition: background .3s, padding .3s;
}

@media screen and (max-width: 768px){
	body{
		padding: 0;
		background: #fff;
	}
}

.nav-menus-wrapper{
	overflow-x: hidden;
}

.btn-show{
	padding: 10px 20px;
	color: #fff;
	cursor: pointer;
	border: none;
	background-color: #9fa7b0;
	transition: background .3s;
}
.btn-show:hover{
	background-color: #967ADC;
}

.info{
	padding-left: 15px;
	color: #333;
	font-size: 13px;
	text-align: center;
}
.info span{
	text-decoration: underline;
}

.zoom-in{
    -webkit-animation: zoomIn 400ms ease both;
    -moz-animation: zoomIn 400ms ease both;
    -o-animation: zoomIn 400ms ease both;
    animation: zoomIn 400ms ease both;
}
@-webkit-keyframes zoomIn {
    0% { -webkit-transform: scale(.6); }
    100% { -webkit-transform: scale(1); }
}
@keyframes zoomIn {
    0% { transform: scale(.6); }
    100% { transform: scale(1); }
}
.zoom-out{
    -webkit-animation: zoomOut 400ms ease both;
    -moz-animation: zoomOut 400ms ease both;
    -o-animation: zoomOut 400ms ease both;
    animation: zoomOut 400ms ease both;
}
@-webkit-keyframes zoomOut {
    0% { -webkit-transform: scale(1); }
    100% { -webkit-transform: scale(.6); }
}
@keyframes zoomOut {
    0% { transform: scale(1); }
    100% { transform: scale(.6); }
}

.navigation7{
	background-color: #9fa7b0;
}